/*GENERAL STYLES*/

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

.red {
  color: red;
}

.grey {
  color: darkgrey;
}

/*INDEX PAGE*/

.user {
  display: flex;
  flex-direction: column;
  height:290px;
  width: 290px;
  border: 1px grey solid;
  margin: 30px;
  padding-left: 10px;
}

.user h3 {
  color: #3576CD;
  font-size: 25px;
  margin-bottom: 0;
}

/*USER SHOW PAGE*/

.userinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50em;
}

.userinfo img {
  border-radius: 50%;
  height: 175px;
  width: 175px;
  border: 1px solid grey;
  margin: 15px;
  display: flex;
  align-self: center;
}

.upper {
  display: flex;
  flex-direction: row;
}

.upper-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
  height: 300px;
}

.upper-info h1 {
  font-size: 60px;
  font-weight: 300;
}

.bold {
  font-weight: 700;
  text-align: right;
  padding-right: 30px;
}
