<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a robot</title>
  </head>

  <body>
    <div class="new-robot-form">
      <h1>Create a robot</h1>
      <form class="" action="/newrobot" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="avatar" placeholder="avatar URL">
        <input type="text" name="university" placeholder="university">
        <input type="text" name="job" placeholder="job">
        <input type="text" name="company" placeholder="company">
        <input type="text" name="phone" placeholder="phone Number">
        <input type="text" name="street_num" placeholder="street number">
        <input type="text" name="street_name" placeholder="street name">
        <input type="text" name="city" placeholder="city">
        <input type="text" name="state_or_province" placeholder="state or province">
        <input type="text" name="postal_code" placeholder="postal code">
        <input type="text" name="country" placeholder="country">
        <input type="text" name="skills" placeholder="skills comma separated">
        <button type="submit" name="new-robot-button">Create a new robot</button>
      </form>
    </div>
  </body>

</html>
