<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <title>All Robots</title>
  </head>
  <body>

    {{#robots}}
    <a href="/info/{{username}}">
      <div class="user">

        <img src="{{avatar}}" />
        <h3>{{name}}</h3>

        {{#job}}
          <p class="grey">{{job}}</p>
        {{/job}}

        {{^job}}
          <p class="red">Available for hire</p>
        {{/job}}
      </div>
    </a>
    {{/robots}}

  </body>
</html>
