<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    {{#users}}
    <a href="/info/{{username}}">{{username}}
      <div class="user">
        <img src="{{avatar}}" />
        <h3>{{username}}</h3>
        <p>{{job}}</p>
      </div>
    </a>
    {{/users}}

  </body>
</html>
