<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <img src="{{avatar}}" />
    <h3>{{username}}</h3>
    <p>{{job}}</p>
    <p>{{university}}</p>
  </body>
</html>
