{{#robots}}
<a href="/robot/{{id}}">
  <div class="user">

    <img src="{{avatar}}" />
    <h3>{{name}}</h3>

    {{#job}}
      <p class="grey">{{job}}</p>
    {{/job}}

    {{^job}}
      <p class="red">Available for hire</p>
    {{/job}}
  </div>
</a>
{{/robots}}
